

/* www.cssspecificity.com */
/* specificity calculators are also useful */

/* don't use "!important" especially when working with someone else. It will take a long time to fix, and isn't necessary everywhere. */


/*
a:hover {
    color: blue;
}

a {
    color: red !important;
}


*/