

/* selektor uniwersalny - wybiera wszystkie znaczniki z HTML */
* {
    color: red;
}


li.list-item{
    color: green;
}

/* pseudo-elementy - elementy, ktore nie istnieja w dzewie dokumentu (HTML), ale mozemy zamarkowac ich istnienie. Zapisujemy za pomaca podwojnego dwukropka (::), mozemy ustawic przez lub za znacznikiem HTML. Nie istnieja, dopoki nie ustawimy wlasciwosci "content" */

ul{
    list-style: none;
}

/*selektor klasy z pseudoelemntem*/
.list-item::before{
    content: '*';
}

/*pseudoklas - najczescziej uzywane w stosunku do dzialan uzytkownika */

/* :hover - najechanie myszka */

/*.list-item a:hover {
    color: yellow;
}
*/

/* :focus - aktywne pole formularza */
input:focus {
    border: 2px solid red;
}

/* pseudo klasy potomstwa - zwracamy uwage na relacje pomiedzy znacznikami ( w ty przypadku, pierwsze dziecko) */

/* grupowanie selektorow - za pomoca przecinka */
ul li:first-child,
ul li:last-child {
    color: blue;
}


/*:nth-of-child - swracamy uwage na relacje pomiedzy znecznikami */
/*nth-of-type - zwracamy uwage na konkretne znaczniki (typ)*/
/*
.list-item:nth-of-type(3n + 2) a {
    color: blueviolet;
}
*/


.list-item:nth-child(3n+2) a {
    color: blueviolet;
}



/*selektory atrybutow*/
/*po nazie knokretnego atrybutu*/
input[title] {
    border: 5px solid yellow;
}

/*po konkretnej wartosci atrybutu(title)*/
input[title="drugi"] {
    border: 5px solid red;
}

/*czy zawiera konkretny napis (word within title) */
input[title~="opis"] {
    border: 5px solid violet;
}

/* czy zawiera konkretyny ziag znakow(letters within) */
input[title*="wart"] {
    border: 5px solid purple;
}

/*zaczyna sie na ciag znakow(beginning letters)*/
input[title^="pie"] {
    border: 5px solid blue;
}

/*zaczyna sie na ciag znakow (letter)*/
input[title$="y"] {
    border: 5px solid green;
}

/*pozycjonowanie*/

#positions {
    height: 300px;
    background-color: green;
    /* pozycja relatywna osduwa dany element od miejsca , w ktorym normalnie by sie snalazly (jak wynikaloby z html)*/
    position: relative;
}

#positions .blue {
    background-color: blue;
}

#positions .red {
    background-color: red;
    left: 100px;
    top: 35px;
    /* pozycja absolutna odsuwa element od innego elementu, ktory jest pozycjonowany inaczej niz statycznie. Jezeli nie znajdzie takiego elementu, odsuwa sie od body. */
    position: absolute;
    margin: 0;
}

#positions p {
    color: white;
}

#main-nav {
/*    pozycja zafiksowana pozwala pozycjonowac element wzgledem okna przegladarki, podajemy wysoki z-index, zeby element nie zostal przykryty przez np. element pozycjonowany relatywnie. */
    position: fixed;
    z-index: 99999;
    width: 100%;
    left: 0;
    top: 0;
    background-color: limegreen;
    margin-top: 212px;
}








